@import url('https://fonts.googleapis.com/css?family=Caladea:400i&display=swap');

.main {
  padding: 100px;
  text-align: left;
  color: #1c1c1c;
  font-size: 90px;
  font-family: Caladea;
  text-shadow: 2px 2px silver;
  height: 500px;  
  background-size: cover;
}

h1:hover {
  color: aliceblue;
  border: black;
  border-radius: 0px;
}
