@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caladea:400i&display=swap');


body {
  height:100vh;
  margin:0;
}

.section-1 h2{
  color:white;
  font-size: 60px;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../../assets/img/image1.jpg');
  height:100%;
}

.pimg2{
  background-image:url('../../assets/img/image2.jpeg');
  min-height:400px;
  opacity: 0.90;
}

.pimg3{
  background-color: black;
  /* background-image:url('../../assets/img/image3.jpg'); */
  min-height:400px;
  opacity: 0.90;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-1{
  background-color:#323a3e;
  color:white;
}

.section-2{
  background-color:#323a3e;
  color:white;
}

.section-3{
  background-color:#323a3e;
  color:#ddd;
}

.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;

}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ol {
  
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: Caladea;
  text-shadow: 2px 2px black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px) {
  .ol {
    font-size: 45px;
    height: 300px;
    transition: 0.7s; 
  }
}
@media screen and (max-width: 700px) {
  .ol {
    font-size: 35px;
    height: 300px;
    transition: 0.7s;
  }
}
@media screen and (max-width: 650px) {
  .ol {
    font-size: 35px;
    height: 300px;
    transition: 0.7s;
  }
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
