@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');

.item-a {
  padding: 20px;
  float: left;
  color: #1b1b1b;
  list-style:none; 
  font-size: 30px;
  font-family: Pinyon Script;
  text-shadow: 2px 2px silver;
  background:transparent;
}
