.captionEffect {
	position: relative;
	overflow: hidden;
	width: 50%;
	margin: 0 auto;
}
.captionEffect img {
    width: 100%;
    display: block;
    -webkit-transition: 800ms; 
    -o-transition: 800ms; 
    transition: 800ms;
}

.captionEffect figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	padding: .5rem;
	position: absolute;
	 -webkit-transition: 800ms; 
   -o-transition: 800ms; 
	transition: 800ms;
	width: 100%;
}

.captionEffect[data-effect="fade-in"] figcaption {
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0;
}
.captionEffect[data-effect="fade-in"]:hover figcaption {
	opacity: 1;
}
.captionEffect figcaption h2 {
    margin: 0;
    font-size: .875rem;
}
.captionEffect figcaption p {
	margin: 0;
}